<footer>
    <style>
        .socialmedia{
            color: black;
            opacity: 0.8;
        }
        .socialmedia:hover{
            opacity: 1;
        }
    </style>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/vaibhav-chaudhari-3aa680253/" > <i class="fa-brands fa-square-facebook socialmedia"></i></a>
            <a href="https://www.linkedin.com/in/vaibhav-chaudhari-3aa680253/">  <i class="fa-brands fa-square-instagram socialmedia"></i></a>
           <a href="https://www.linkedin.com/in/vaibhav-chaudhari-3aa680253/"><i class="fa-brands fa-linkedin socialmedia"></i></a>
        </div>
        <div class="f-info-brand">&copy;Wheask&Feast pvt Ltd</div>
        <div class="f-info-links">
            <a href="/listings">Privacy</a>
            <a href="/listings">Terms</a>
        </div>

    </div> 
</footer>