body{
    
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }
  .container{
      flex: 1;
  }


.fa-utensils{
  font-size: 2rem;
  color: #ff385c;
}

.navbar{
  height: 5rem;
  background-color: white;
}
.nav-link{
  color: #222222 !important
}


.f-info-links a{
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover{
  text-decoration: underline;
}
.f-info-socials , .f-info-links,.f-info-brand{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i{
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info{
  text-align: center;
  height: 8rem;
  background-color: #EBEBEB;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* cards */

.listing-card{
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top{
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body{
  padding: 0 !important;
}
.card-text p{
  font-weight: 400;
}
.listing-link{
  text-decoration: none;
}
/* card effect */
.card-img-overlay{
  opacity: 0;
}
.card-img-overlay:hover{
  opacity: 0.2;
  background-color: white;
}
.add-btn{
  background-color: #ff385c !important;
  border: none !important;
}

.show-img{
height: 30vh;
}

